<html>

  <title>Gag Scraper</title>
  <link href="style.css" rel="stylesheet" type="text/css" />

<body>

<div>

  <div>
    <h1>Gag Scraper</h1>
  </div>

  <div>
    <hr style="width: 50%;">
  </div>

  <!--If there is failure we are display it -->
  <% if(typeof error != 'undefined') { %>
    <div class="errmsg">
      <p><%= error %></p>
    </div>
  <% } %>

  <!--If there is info we are display it -->
  <% if(typeof info != 'undefined') { %>
    <div class="infomsg">
      <p><%= info %></p>
    </div>
  <% } %>

  <div style="padding-top: 20px;">
    <p>Bored of scrolling 9gag for hours ?</p>
    <br>
    <p>Subscribe to our mailing list and and recive 10 most upvoted<br>posts on your email, every day at 09:00 AM (UTC +1)</p>
  </div>

  <div>
    <form method="POST" action="/email">
      <input type="text" name="email" placeholder="Enter email..." required />
      <button type="submit" value="submit">Send</button>
    </form>
  </div>

  <p style="padding-top: 20px;">To unsubscribe simply enter your email agine and click send.</p>

  <div style="padding-top: 20px;">
    <hr style="width: 50%;">
  <div>

  <p style="font-size: 10px; padding-top: 20px;">This is open source project, you can find code
    <a href="http://github.com/lukamatkic/gagscraper">HERE</a>.
  </p>
  <p style="font-size: 10px;">Made with &hearts; by Luka & Domagoj</p>

</div>

</body>
</html>
